<mat-card class="results-list">
  <div *ngIf="loading">
    <mat-spinner style="margin:auto"></mat-spinner>

  </div>
  <div *ngIf="listOfArt && listOfArt.count>0">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let art of listOfArt.artObjects">
        <mat-expansion-panel-header>
          <mat-panel-title>{{art.title}}</mat-panel-title>
          <mat-panel-description>{{art.principalOrFirstMaker}}</mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <app-art-detail [objectId]="art.objectNumber"></app-art-detail>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
    <em>{{listOfArt.count}} items gevonden</em>
    <button mat-button [disabled]="pageNumber===1" (click)="pageChange(-1)">Vorige pagina</button>
    <button mat-button [disabled]="pageNumber*10>=listOfArt.count" (click)="pageChange(1)">Volgende pagina</button>
  </div>
</mat-card>
