@media (max-width: 600px) {
  .half-width-search {
    width: 90%;
    margin: auto;
  }
}
@media (min-width: 600px) {
  .half-width-search {
    width: 50%;
    margin: auto;
  }
}

.full-width {
  width: 100%;
}
.force-button-height {
  margin: 10px;
  height: 36px;
}
